nav {
    width: 100%;
    /* background: #eedddd; */
    color: #d80d0dce;
    cursor: pointer;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: background 0.3s;
    /* font-family: ; */
}

nav.transparent {
    background: transparent;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 200px;
}

nav ul li a:hover {
    background: rgb(9, 202, 228);
    border: 4px solid transparent;
}

nav ul li:last-child a {
    background-color: rgb(78, 241, 78);
    cursor: default;
}

.logo2 {
    width: 70px;
    border-radius: 100%;
    margin-right: 0%;
}

.dark-nav {
    background: #ffffff;
    transition: 0.5s;
}

.menu-icon {
    display: none;
}

/* ----- media query ----------- */

@media (max-width: 1000px) {
    .logo {
        width: 140px;
    }
    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 840px) {
    nav {
        padding: 15px 0;
    }
    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: white; /* Sidebar color change */
        z-index: 9; /* Adjusted to ensure visibility */
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
        flex-direction: column;
    }
    nav ul li {
        display: block;
        margin: 25px 40px;
    }
    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu {
        right: -200px;
    }
}